
<section id="predict">
    <div class="container" style="max-width: 95%;" >
<p *ngIf="isFinishLoad == false">--- predict chart are loading or no predict result existing ! ---</p>
<div *ngIf="isFinishLoad" style="display: block; height: 400px; width: 700px;">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  
</div>
</section>