<section id="lab">
    <h3>Lab Portal - {{currentUser.userid}}</h3>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#tab-01" class="nav-link active"   aria-controls="tab-01" role="tab" data-toggle="tab">Dashboard</a>
        
      </li>
      <li role="presentation" class="nav-item">
        <a href="#tab-02" class="nav-link" aria-controls="tab-02" role="tab" data-toggle="tab">Rule Review</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-01">
        <app-emr-list></app-emr-list>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-02">
        <app-rule></app-rule>
      </div>
    </div>
  </section>
  
  
  
  
  
  