.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
.card-block{
    position: relative;
    height: 500px;
    overflow: auto;
}
.alert{
    margin-top: -6%;
}
.spinner-border{
    width: 5rem !important;
    height: 5rem !important;
    margin: -3%;
    margin-left: 45%;
}
.loading{
    filter: blur(3px);
    margin-top: 64px !important;
}
.loaded{
    filter: blur(0px);
    margin-top: -10px;
}
.container{
    margin-top:-10px;
}
